body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}
h1 {
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
  text-align: center;
  font-weight:normal;
}
.button
{display: inline-block;
width: 240px;
height: 50px;}

.button-1 {

  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  background-size:240px 50px;
  border: none;}

  .button5
  {display: inline-block;
  width: 260px;
  height: 50px;}

  .grey-button {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    background-color: #eeeeee;
    text-transform: uppercase;

  }

.top-color {
  background-color: #eeeeee;
}
a {
  text-decoration: none;}

  .iphones {
    dispaly:flex;
    min-height:431px;


  }

.container{
  dispaly:flex;
  flex-direction: row;
  justify-content: center;
}
.main-navigation {
    font-size: 16px;
    line-height: 1.88;
    color: #000000;
    background-color: #eeeeee;
    width:1440px;
    height:545px;
  }

.main-header {
display:flex;
flex-direction:row;
flex-wrap: wrap;
background-color: #eeeeee;

}
.logo {
  display:flex;
  flex-wrap: wrap;
  margin-left: 140px;
  margin-top:49px;



}
  .site-navigation {
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: center;

      margin-left: auto;
  }
  .navigation {
    margin-right: auto;
    margin-left: auto;
  }
  .site-navigation a {
  color:#000000;}

.site-navigation a:hover,
  .site-navigation a:focus  {
    color: #283136;
  }
.intro {
  font-family: Roboto;
    font-size: 55px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    text-transform: none;

}
.intro-small {
width: 361px;
height: 40px;
font-family: Roboto;
font-size: 16px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: normal;
text-align: left;
color: #283136;
text-transform: none;

}

.features-list{
  list-style: none;
  display:flex;
  flex-direction: row;
  align-content: space-around;
  margin-left: 140px;
  margin-right:200px;
  margin-top: 80px;
}




.feature-item h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;


}
.studio {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-transform:none;
}
.description{
  font-size: 16px;
  line-height: 24px;
  text-transform:none;
}
h3 {
  font-size: 16px;
  line-height: 24px;
  text-transform:uppercase;
}

.about {
  display:flex;
  flex-direction:column;
  margin-top: 162px;
  margin-left:141px;
}
.points{
display:flex;
flex-direction:column;


}
.button-order
{display: inline-block;
width: 160px;
height: 50px;}

.button-red{
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  background-size:160px 50px;
  border: none;
}
.button-green{
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #00ca74;
  background-size:160px 50px;
  border: none;
}
.button-yellow{
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;

  text-transform: uppercase;
  background-color: #efc84a;
  background-size:160px 50px;
  border: none;
}

.features-orders{
  list-style: none;
  text-transform: none;
  color:#283136;
}

.features-percent{
  list-style: none;
  font-weight: bold;
  font-size:45px;
  color:#000000;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-content: space-between;
}
.percent-items{
font-size:16px;
font-weight:normal;
color:#283136;
text-transform: none;

}
.button-review
{display: inline-block;
width: 219px;
height: 50px;}

.button-red2{
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  background-size:160px 50px;
  border: none;}


.adress{
  font-size: 16px;
  line-height: 18px;
 color: #666666;
text-transform:none;
}
 .form {
   font-size: 16px;
   font-weight:bold;
   line-height: 18px;
   color: #000000;
   text-transform:none;
   text-align: left;
 }

 .button-form
 {display: inline-block;
 width: 260px;
 height: 50px;}

 .button-form-color {
   font-size: 16px;
   line-height: 50px;
   text-align: center;
   color: #ffffff;
   vertical-align: middle;
   text-transform: uppercase;
   background-color: #fb565a;
   background-size:260px 50px;
   border: none;}

   .button-next {
     font-size: 16px;
     line-height: 18px;
     text-align: center;
     color: #000000;
     vertical-align: middle;
     text-transform: uppercase;
     background-color: #eeeeee;
     background-size:260px 50px;
     border: none;
   }

h2 {
  font-size: 36px;
  font-weight:bold;
  line-height: 36px;
  color: #000000;
  text-transform:none;
  text-align: left;
}

.footer {
  font-size: 16px;
  font-weight:normal;
  line-height: 22px;
  color: ##444444;
  text-transform:none;
  text-align: left;

}
.price {
  font-size: 24px;
  font-weight:bold;
  line-height: 30px;
  color: #000000;
  text-transform:uppercase;
  text-align: left;
}
.net {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  text-transform:none;
  text-align: left;

}
