body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;

}
h1 {
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
  text-align: center;
  font-weight:normal;
  margin-top: 80px;
}
.button
{display: inline-block;
width: 240px;
height: 50px;}

.button-1 {font-size: 16px;line-height: 50px;text-align: center;color: #ffffff;vertical-align: middle;text-transform: uppercase;background-color: #fb565a;background-size:240px 50px;margin-top: 30px;}

  .button5
  {display: inline-block;
  width: 260px;
  height: 50px;}

  .grey-button {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    background-color: #eeeeee;
    text-transform: uppercase;}

  .catalog-color{
  background-color: #eeeeee;
  width: 1440px;
  height: 355px;
}

.top-color {
  background-color: #eeeeee;
  height: 545px;
  width: 1445px;}

a {
  text-decoration: none;}

  .iphones {

    display:flex;
    min-height:431px;
    margin-left: 140px;
  }

.assets{
display:flex;
flex-direction:row;
flex-wrap: wrap;
margin-bottom: 170px;
margin-top: 175px;
margin-left: 100px;
width: 760px;
}

.formes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 260px;
  border: none;
  margin-left: 139px;
  height:;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
    border: none;
    margin-top:18px;
  }
.price-form{
  display: flex;
  flex-direction: column;
}
.form-filter {
  display: flex;
  flex-direction: column;
}

.container{
  dispaly:flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 18px;
}
.iphones-container{
  display: flex;
  flex-direction: row;
  margin: 8px 0 0px 55px;
}
.main-nav {
    font-size: 16px;
    line-height: 1.88;
    color: #000000;
    background-color: #eeeeee;
    width:1440px;
    display: flex;
  }


.main-header {display:flex;
  flex-direction:row;

  background-color: #eeeeee;
  height:545px;
  width: 1445px;}

.main-header-catalog {
display:flex;
flex-direction:row;
flex-wrap: wrap;
background-color: #eeeeee;
height:355px;}

.nav-top{
  display: flex;
}
.logo {
  display:flex;
  flex-wrap: wrap;
  margin-left: 140px;
  margin-top:49px;

}
.picture-text{
  display:flex;
  height:420px;
  margin-left: 140px;


}
.picture-container{
  width:376px;
}
  .site-navigation {
    list-style: none;
    display:flex;
    flex-direction: row;
    margin-left: 202px;
    padding: 0;
    margin-bottom: 5px;
    margin-top: 75px;
    margin-left: 200px;
  }
  .navigation {
    margin-right:47px;
    margin-bottom: 5px;
  }
  .last-element {
    margin-left: 245px;
    margin-right: 140px;

  }

  .site-navigation {
    list-style: none;

  }
  .site-navigation a {
  color:#000000;}

.site-navigation a:hover,
  .site-navigation a:focus  {
    color: #283136;
  }

  a {text-decoration:none;}

.intro {
  font-family: Roboto;
  font-size: 55px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  text-transform: none;
  margin-bottom: 0;}

.intro-small {height: 40px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
  text-transform: none;
  width: 450px;
  padding-top: 7px;}

.features-list{
  list-style: none;

  display:flex;
  margin-left: 140px;
  margin-top: 80px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
}
.features-list-catalog{
  list-style: none;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1893px;
  }
}
.features-list-filter1{
list-style: none;
display: flex;
flex-direction: column;
flex-wrap: wrap;
}

.features-list-filter {list-style: none;
display:flex;
flex-direction: column;
flex-wrap: wrap;
}

.shops{
  margin-left: 100px;
}
.left{
  margin-left:140px;
  margin-top: 80px;
}
.center{
  margin-left:540px;
  margin-top: -320px ;
}
.right{
  margin-left:940px;
  margin-top: -320px;
}

.feature-item h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;}

.feature-item {width: 300px;}
.move-block{
  margin-left: 100px;
}
.color-blocks {
  height: 40px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
  text-transform: none;

  padding-top: 0px;
  margin-top: 10px;
  margin-bottom: 40px;
  }

.studio {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-transform:none;
  margin-top: 0px;
  margin-bottom: 20px;
}
.description{
  font-size: 16px;
  line-height: 24px;
  text-transform:uppercase;
  margin-bottom:0px;
}
h3 {
  font-size: 16px;
  line-height: 24px;
  text-transform:uppercase;

  margin-bottom: 0px;
}
.header3{
  font-size: 16px;
  line-height: 24px;
  text-transform:uppercase;
  font-weight: bold;
  margin-top: 38px;
  margin-left: 15px;
  margin-bottom: 0px;
}


.about {
  width: 660px;
  display:flex;
  flex-direction:column;
  margin-top: 140px;
  margin-left:141px;
}

.points{display:flex;
  flex-direction:column;
  margin-top: 105px;
  margin-left: 140px;}


.button-order
{display: inline-block;
width: 160px;
height: 50px;}

.button-red{
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  background-size:160px 50px;
  border: none;
}
.button-green{
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #00ca74;
  background-size:160px 50px;
  border: none;
}
.button-yellow{
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;

  text-transform: uppercase;
  background-color: #efc84a;
  background-size:160px 50px;
  border: none;
}

.features-orders{
  list-style: none;
  text-transform: none;
  color:#283136;
}
.order-margin{
  margin-top: 22px;
}
.features-percent{
  list-style: none;
  font-weight: bold;
  font-size:45px;
  color:#000000;
  display: flex;
  padding: 0px;
  margin-top: 5px;
}
.percent-items{
font-size:16px;
font-weight:normal;
color:#283136;
text-transform: none;
}
.percent-margin{
}
.button-review
{display: inline-block;
width: 219px;
height: 50px;}

.button-red2{
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  background-size:160px 50px;
  border: none;}

.main-bottom{
  display:flex;
}

.adress{
  font-size: 16px;
  line-height: 18px;
 color: #666666;
text-transform:none;
}
 .form {
   font-size: 16px;
   font-weight:bold;
   line-height: 18px;
   color: #000000;
   text-transform:none;
   text-align: left;
 }

 .button-form
 {display: inline-block;
 width: 260px;
 height: 50px;}

 .button-form-color {
   font-size: 16px;
   line-height: 50px;
   text-align: center;
   color: #ffffff;
   vertical-align: middle;
   text-transform: uppercase;
   background-color: #fb565a;
   background-size:260px 50px;
   border: none;}

   .button-next {
     font-size: 16px;
     line-height: 18px;
     text-align: center;
     color: #000000;
     vertical-align: middle;
     text-transform: uppercase;
     background-color: #eeeeee;
     background-size:260px 50px;
     border: none;
   }

h2 {
  font-size: 36px;
  font-weight:bold;
  line-height: 36px;
  color: #000000;
  text-transform:none;
  text-align: left;
}

.footer {
  font-size: 16px;
  font-weight:normal;
  line-height: 22px;
  color: ##444444;
  text-transform:none;
  text-align: left;

}
.price {
  font-size: 24px;
  font-weight:bold;
  line-height: 30px;
  color: #000000;
  text-transform:uppercase;
  text-align: left;
}
.form-filter {
  display: flex;
  flex-direction: column;
  height: 505px;
}
.net {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  text-transform:none;
  text-align: left;
}
.pictures-catalog {
  display: flex;
  flex-direction: row;
  height:2858px;
}
.websites-pictures{
  display:flex;
}
